:host{
    margin: 0;
    padding: 0;
    width: 100%;
}

.component{
    display: flex;
    justify-content: center;
    width: 100%;
}
.component-child{
    display: none;
    justify-content: center;
    width: 25%;
    margin: 10px;
}

.solicitar-turno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.volver{
    display: none;
    position: absolute;
    left: 30px;
    top: 100px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid grey;
}

.volver:hover{
    background-color: lightpink;
}

.lista-especialistas{
    height: 700px;
    width: 25%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
}

.especialista{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.256);
    transition: transform 0.2s;
}

.container-radio{
    margin-left: auto;
}

.input-radio{
    align-self: end;
    margin: 20px;
}

.form-medicos{
    width: 80%;
}

.foto-perfil{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin: 0 15px 0 15px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.turnos-component{
    display: none;
}

.horarios-component{
    display: none;
}


.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .container-especialidades{
    box-sizing: border-box;
    height: 250px;
    width: 90vw;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: hidden;
  
  }
  
  .especialidad{
    height: 90%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .especialidad:hover{
    background-color: rgba(183, 183, 183, 0.613);
  }
  
  img{
    height:170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
  }

  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .arrow.left {
    left: 10px;
  }
  
  .arrow.right {
    right: 10px;
  }
  
  .arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }


