<div class="component" [@fadeIn]>
    <div class="background">
        <div class="texto-inicial">
            <h1>Tu salud es nuestra prioridad</h1>
            <p>
                En nuestro portal web podrás gestionar fácilmente tu historial médico y programar nuevos turnos con los especialistas de nuestra clínica. ¡Tu salud, más accesible que nunca!

            </p>
        </div>
            <div class="image-container">
            </div>
    </div>
    <!-- <div class="content">
        
    </div> -->
    <!-- <div class="opciones">
        <div class="opcion">Obtener un turno</div>
        <div class="opcion"></div>
        <div class="opcion"></div>
        <div class="opcion"></div>
    </div> -->


</div>
