<div class="component" [@fadeIn]>
    <div class="background">
        <div class="texto-inicial">
            <h1>Tu salud es nuestra prioridad</h1>
            <p>
                En nuestro portal web podrás gestionar fácilmente tu historial médico y programar nuevos turnos con los especialistas de nuestra clínica. ¡Tu salud, más accesible que nunca!

            </p>
        </div>
            <div class="image-container">
            </div>
    </div>
    <!-- <div class="content">
        
    </div> -->
    <!-- <div class="opciones">
        <div class="opcion">Obtener un turno</div>
        <div class="opcion"></div>
        <div class="opcion"></div>
        <div class="opcion"></div>
    </div> -->

    <div class="container-servicios">
        <div class="titulo">
            <div class="separador"></div>
            <h1>Nuestros servicios</h1>
            <div class="separador"></div>
        </div>
        <div class="servicios">
            <div class="servicio">
                <div class="foto-servicio">
                    <img src="/radio.jpg" alt="">
                </div>
                <h3 class="nombre-servicio">Diagnóstico por imágenes</h3>
            </div>
            <div class="servicio">
                <div class="foto-servicio">
                    <img src="/cirujias.jpg" alt="">
                </div>
                <h3 class="nombre-servicio">Internaciones Clínicas y Quirúrgicas</h3>
            </div>
            <div class="servicio">
                <div class="foto-servicio">
                    <img src="/guardias.jpg" alt="">
                </div>
                <h3 class="nombre-servicio">Guardia 24 hs</h3>
            </div>
            <div class="servicio">
                <div class="foto-servicio">
                    <img src="/habitaciones.jpg" alt="">
                </div>
                <h3 class="nombre-servicio">Nuevas habitaciones individuales</h3>
            </div>
            <div class="servicio">
                <div class="foto-servicio">
                    <img src="/lab-2.jpg" alt="">
                </div>
                <h3 class="nombre-servicio">Laboratorio</h3>
            </div>
            <div class="servicio">
                <div class="foto-servicio">
                    <img src="/web-servicios-residencias.jpg" alt="">
                </div>
                <h3 class="nombre-servicio">Residencias Médicas</h3>
            </div>
            <div class="servicio">
                <div class="foto-servicio">
                    <img src="/web-servicios-4.jpg" alt="">
                </div>
                <h3 class="nombre-servicio">Extracciones a domicilio</h3>
            </div>
            <div class="servicio">
                <div class="foto-servicio">
                    <img src="/cheq-mujer.jpg" alt="">
                </div>
                <h3 class="nombre-servicio">Chequeos Preventivos para la Mujer
                </h3>
            </div>
        </div>
    </div>

    <footer>
        <h4>Horarios</h4><br>
        <p>
            Internación: 11 a 12hs y de 16 a 17hs* 
            *Sólo se permiten visitas de mayores de 12 años. Oficina de enlace: lunes a jueves de 08 a 17hs, viernes de 08 a 16hs y sábados de 08 a 12hs. Entrega de estudios: de 08 a 16hs Extracciones: lunes a sábados de 07 a 10hs.
        </p>
    </footer>


</div>
