<div class="component" [@fadeIn]>
    <div class="background">
        <div class="texto-inicial">
            <h1>Your health is our priority</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente est pariatur adipisci maiores fugiat nemo fugit necessitatibus nihil excepturi, tenetur non nostrum enim qui iure doloribus rem minus. Quia, laboriosam.</p>
        </div>
            <div class="image-container">
            </div>
    </div>
    <!-- <div class="content">
        
    </div> -->
    <!-- <div class="opciones">
        <div class="opcion">Obtener un turno</div>
        <div class="opcion"></div>
        <div class="opcion"></div>
        <div class="opcion"></div>
    </div> -->


</div>
