
<div class="component">

  <div class="grafico">
    <div class="texto" (click)="mostrarGrafico(0)" id="texto-tabla">
      <p>Cantidad de ingresos</p>
      <img src="flecha.png" alt="" class="flecha" height="20px" width="20px">
    </div>
    @if(mostrarTabla){

      <div class="container-tabla-ingresos">
        <table class="tabla-ingresos">
          <thead>
            <tr>
              <th>Email</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            @for(ingreso of registros; track $index){
              <tr>
                <td>{{ ingreso.email }}</td>
                <td>{{ ingreso.fecha | date: 'dd/MM/yyyy HH:mm' }}</td>
              </tr>
            }
            <!-- <tr *ngFor="let ingreso of registros">
              <td>{{ ingreso.email }}</td>
              <td>{{ ingreso.timestamp | date: 'dd/MM/yyyy HH:mm' }}</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    }
  </div>

  <div class="grafico">
    <div class="texto" (click)="mostrarGrafico(1)" id="texto-turnos-por-especialidad">
      <p>Cantidad de turnos por especialidad</p>
      <img src="flecha.png" alt="" class="flecha" height="20px" width="20px">
    </div>
    @if(graficoTurnosPorEspecialidad){
      <div id="chart-turnos-por-especialidad" class="chart">
        
      </div>
    }

  </div>

  <div class="grafico">
    <div class="texto" (click)="mostrarGrafico(2)" id="texto-turnos-por-dias">
      <p>Cantidad de turnos por dia</p>
      <img src="flecha.png" alt="" class="flecha" height="20px" width="20px">
    </div>
    @if(graficoTurnosPorDia){
      <div id="chart-turnos-por-dia" class="chart"></div>
    }
  </div>


  <div class="grafico">
    <div class="texto" (click)="mostrarGrafico(3)" id="texto-turnos-por-especialista-mes">
      <p>Cantidad de turnos por especialista por mes</p>
      <img src="flecha.png" alt="" class="flecha" height="20px" width="20px">
    </div>
    @if(graficoTurnosPorEspecialistaPorMes){
      <div id="chart-turnos-por-especialista-por-mes" class="chart"></div>
    }
  </div>


<div class="grafico">
  <div class="texto" (click)="mostrarGrafico(4)" id="texto-turnos-finalizados-por-especialista">
    <p>Cantidad de turnos finalizados por especialista por mes</p>
    <img src="flecha.png" alt="" class="flecha" height="20px" width="20px">
  </div>
  @if(graficoTurnosFinalizadosPorEspecialistaPorMes){
    <div id="chart-turnos-finalizados-por-especialista-por-mes" class="chart"></div>
  }
</div>




  <!-- <div>
      @for (especialidad of especialidadesMedicas; track $index) {
          @if (turnosPorEspecialidad?.[especialidad]) {
            <p>Turnos de {{especialidad}}: {{turnosPorEspecialidad[especialidad].length}}</p>
          }
          @else {
            <p>No hay turnos para {{especialidad}}.</p>
          }
        }
        <p>Total de registros: {{registros.length}}</p>
  
  
        <h3>Turnos por especialista:</h3>
        @for(especialista of especialistas; track $index){
          @if(turnosDelEspecialista[especialista.uid]){
              <p>turnos del especialista: {{especialista.nombre + especialista.apellido}}:</p>
              @for(turno of turnosDelEspecialista[especialista.uid]; track $index){
                  <p>Turno el {{turno.fecha}} a las {{turno.hora}}</p>
              }
          }
        }
  
        <h3>Turnos por mes:</h3>
        <div *ngFor="let turno of turnosPorMes; let i = index">
          <p>Mes: {{ turnosPorMes[i].value }}</p>
          <div *ngFor="let detalle of turno[i]">
            <p>- {{ detalle.nombreEspecialista }}: {{ detalle.fecha }}</p>
          </div>
        </div>
  
        @for(mes of meses; track $index){
          <p>Mes: {{mes}}</p>
          @for(turno of turnosPorMes[mes]; track $index){
            <p>- {{turno.especialidad}} | {{ turno.nombreEspecialista }}: {{ turno.fecha }}</p>
          }
          Total de turnos del {{mes}}: {{turnosPorMes[mes].length}}
        }
  
        
        @for(mes of meses; track $index){
          <p>Mes: {{mes.key}}</p>
          @for(especialista of mes.value | keyvalue; track $index){
            <p>Especialista: {{especialista.key}}</p>
            @for(turno of !especialista.key; track $index){
              <p>- {{turno.fecha}}</p>
            }
          }
        }
        <div *ngFor="let mes of getMeses()">//turnos por especialista por mes
          <h3>Mes: {{ mes | date: 'MM-yyyy'}}</h3>
          <ul>
            <li *ngFor="let especialista of getEspecialistasPorMes(mes)">
              {{ especialista.nombre }}: {{ especialista.turnos }} turnos
            </li>
          </ul>
        </div>
  
  
        <div *ngFor="let mes of meses">
          <h3>Mes: {{ mes }}</h3>
          <ul>
            <li *ngFor="let especialista of getEspecialistasFinalizadosPorMes(mes)">
              {{ especialista.nombre }}: {{ especialista.turnosFinalizados }} turnos finalizados
            </li>
          </ul>
        </div>
  
  </div> -->
</div>
