@if(showHeader){
    <header>
        <div class="header-left">
            <div class="img-inicio">
                <img src="favicon.ico" alt="inicio" class="icono" routerLink="/home">
            </div>
            @if(userDatabase?.tipoUsuario !== 'especialista'){
                <div class="item-menu" routerLink="/conseguir-turno">Quiero un turno</div>
            }
            @if(userDatabase?.tipoUsuario !== 'administrador'){
                <div class="item-menu" routerLink="/mis-turnos">Mis turnos</div>
            }@else {
                <div class="item-menu" routerLink="/mis-turnos">Turnos</div>
            }
            <!-- <div class="item-menu">Obras sociales</div> -->
            @if(userDatabase?.tipoUsuario === 'especialista'){
                <div class="item-menu" routerLink="/mis-horarios">Mis horarios</div>
                <div class="item-menu" routerLink="/historias-clinicas">Pacientes</div>
            }
            @if(userDatabase?.tipoUsuario === 'administrador'){
                <div class="item-menu" routerLink="/listaUsuarios">Usuarios</div>
                <div class="item-menu" routerLink="/estadisticas">Estadisticas</div>
                <div class="item-menu" routerLink="/especialidades">Especialidades</div>
            } 
        </div>
        <div class="header-right">
            <!-- <img [src]="userDatabase?.imagenPerfil" alt="" class="img-perfil">
            <img src="flecha.png" alt=""> -->
            <div class="perfil-container">
                <img [src]="userDatabase?.imagenPerfil" class="img-perfil" (click)="openMenu()"/>
                <img src="flecha.png" alt="Flecha" class="flecha" (click)="openMenu()" />
            </div>
            @if(menuOpen === true){
                <div id="menu" class="menu" id="menu">
                    <ul>
                      <li><a routerLink="/mis-horarios">Mi perfil</a></li>
                      @if(userDatabase?.tipoUsuario === 'administrador'){
                          <li><a routerLink="/registro-admin">Registrar usuario</a></li>
                      }
                      <li><a (click)="salir()">Cerrar sesion</a></li>
                    </ul>
                </div>
            }
        </div>
    </header>
}
<router-outlet />

<!-- <p>{{title | titlecase}}</p>
<p>{{ precio | currency: 'ARS' : '$' }}</p>
<p>{{fecha | date: 'dd-MM-YY  hh:mm:ss'}}</p> //formato completo de fecha, se puede usar solo la parte que necesitemos
<p>{{objeto | json}}</p>
<p>{{'hola mundo que tal' | muyLargo : 9 : '...'}}</p>
//pipe personalizado, con parametros personalizados y opcionales, para definir el largo de un string, y luego de ese largo se le agrega el valor del segundo parametro 


<img [src]="aca se le puede pasar un atributo" alt="">

<p appHighlight color="purple">color</p> el color se esta mandando por input

storageRef.getDownloadURL() esto es sintaxis de angular/fire  -->



