@if(showHeader){
    <header>
        <div class="header-left">
            <div class="img-inicio">
                <img src="favicon.ico" alt="inicio" class="" routerLink="/home">
            </div>
            <div class="item-menu" routerLink="/conseguir-turno">Quiero un turno</div>
            <div class="item-menu">Mis turnos</div>
            <div class="item-menu">Obras sociales</div>
            <div class="item-menu"></div>
        </div>
        <div class="header-right">
            <button (click)="salir()">Cerrar sesion</button>
            <img [src]="userDatabase?.imagenPerfil" alt="" class="img-perfil">
        </div>
    </header>
}
<router-outlet />

<!-- <p>{{title | titlecase}}</p>
<p>{{ precio | currency: 'ARS' : '$' }}</p>
<p>{{fecha | date: 'dd-MM-YY  hh:mm:ss'}}</p> //formato completo de fecha, se puede usar solo la parte que necesitemos
<p>{{objeto | json}}</p>
<p>{{'hola mundo que tal' | muyLargo : 9 : '...'}}</p>
//pipe personalizado, con parametros personalizados y opcionales, para definir el largo de un string, y luego de ese largo se le agrega el valor del segundo parametro 


<img [src]="aca se le puede pasar un atributo" alt="">

<p appHighlight color="purple">color</p> el color se esta mandando por input

storageRef.getDownloadURL() esto es sintaxis de angular/fire  -->

