@if(userDatabase){
  <div class="buscar">
    <input type="text" placeholder="Buscar..." class="filtro" [(ngModel)]="filtro" (input)="filtrarTurnos()">
  </div>
  <div class="info-turnos">
    <span>Cantidad de turnos: </span>
    <span>{{cantidadTurnos}}</span>
  </div>
  <div class="turnos-container">

    @for(turno of turnosFiltrados; track $index){
        <div class="turno">
            <h3 class="turno__titulo">Turno</h3>
            <div class="turno__detalle">
              <span class="turno__label">Fecha:</span>
              <span class="turno__valor">{{turno.fecha}}</span>
            </div>
            <div class="turno__detalle">
              <span class="turno__label">Hora:</span>
              <span class="turno__valor">{{turno.hora}} hs</span>
            </div>
            <div class="turno__detalle">
              <span class="turno__label">Especialidad:</span>
              <span class="turno__valor">{{turno.especialidad}}</span>
            </div>
            <div class="turno__detalle">
                <span class="turno__label">Estado:</span>
                <span class="turno__valor" style="color: blue;">{{turno.estado}}</span>
            </div>
            @if(userDatabase.tipoUsuario === 'administrador'){
              <div class="turno__detalle">
                <span class="turno__label">Médico:</span>
                <span class="turno__valor">{{turno.nombreEspecialista}}</span>
              </div>
              <div class="turno__detalle">
                <span class="turno__label">Paciente:</span>
                <span class="turno__valor">{{turno.nombrePaciente}}</span>
              </div>
            }
            @if(turno.historiaClinica){
              <div class="turno__detalle">
                <span class="turno__label">Altura:</span>
                <span class="turno__valor">{{turno.historiaClinica.altura}}</span>
              </div>
              <div class="turno__detalle">
                <span class="turno__label">Peso:</span>
                <span class="turno__valor">{{turno.historiaClinica.peso}}</span>
              </div>
              <div class="turno__detalle">
                <span class="turno__label">Presión:</span>
                <span class="turno__valor">{{turno.historiaClinica.presion}}</span>
              </div>
              <div class="turno__detalle">
                <span class="turno__label">Temperatura:</span>
                <span class="turno__valor">{{turno.historiaClinica.temperatura}}</span>
              </div>
              @if(turno.historiaClinica.datosDinamicos){
                @for(dato of turno.historiaClinica.datosDinamicos; track $index){
                  <div class="turno__detalle">
                    <span class="turno__label">{{dato.clave.charAt(0).toUpperCase() + dato.clave.slice(1).toLowerCase()}}:</span>
                    <span class="turno__valor">{{dato.valor}}</span>
                  </div>
                }
              }
            }
            @if(userDatabase.tipoUsuario === 'paciente'){
                <div class="turno__detalle">
                  <span class="turno__label">Médico:</span>
                  <span class="turno__valor">{{turno.nombreEspecialista}}</span>
                </div>
                @if(turno.estado === 'pendiente' || turno.estado === 'aceptado'){
                    <div class="turno__accion">
                        <span class="turno__valor"><button class="turno_boton_accion" (click)="cancelarTurno(turno)">Cancelar Turno</button></span>
                    </div>
                }
            }@else if(userDatabase.tipoUsuario === 'especialista'){
                <div class="turno__detalle">
                    <span class="turno__label">Paciente:</span>
                    <span class="turno__valor">{{turno.nombrePaciente}}</span>
                </div>
                @if(turno.estado === 'pendiente'){
                    <div class="turno__accion">
                      <span class="turno__valor"><button class="turno_boton_accion" (click)="aceptarTurno(turno)">Aceptar Turno</button></span>
                        <span class="turno__valor"><button class="turno_boton_accion" (click)="rechazarTurno(turno)">Rechazar Turno</button></span>
                      </div>
                }@else if(turno.estado === 'aceptado'){
                  <div class="turno__accion">
                    <span class="turno__valor"><button class="turno_boton_accion" (click)="cargarEvaluacion(turno)">Finalizar Turno</button></span>
                  </div>

                }
              }
              @if(turno.estado === 'finalizado'){
                <div class="turno__detalle">
                  <span class="turno__label">Evaluación:</span>
                  <span class="turno__valor"><button class="turno_boton" (click)="mostrarEvaluacion(turno)">Ver evaluación</button></span>
                </div>
                @if(userDatabase.tipoUsuario === 'paciente'){
                  @if(!turno.encuestaCompletada){
                      <div class="turno__detalle">
                          <span class="turno__label">Encuesta:</span>
                          <span class="turno__valor"><button class="turno_boton" (click)="openEncuesta(turno)">Completar encuesta</button></span>
                      </div>
                  }
                }
              }

        </div>

        <dialog #encuestaDialog class="encuesta-dialog" id="encuesta">
            <h2>Encuesta Médica</h2>
            <form [formGroup]="formEncuesta" (ngSubmit)="enviarEncuesta()">
              <!-- Controles del formulario -->
              <label>Calidad de Atención:</label>
              <mat-radio-group formControlName="calidadAtencion">
                <mat-radio-button value="excelente">Excelente</mat-radio-button>
                <mat-radio-button value="buena">Buena</mat-radio-button>
                <mat-radio-button value="regular">Regular</mat-radio-button>
              </mat-radio-group>
              <br>
              <label>Tiempo de Espera:</label>
              <mat-radio-group formControlName="tiempoEspera">
                <mat-radio-button value="rapido">Rápido</mat-radio-button>
                <mat-radio-button value="moderado">Moderado</mat-radio-button>
                <mat-radio-button value="lento">Lento</mat-radio-button>
              </mat-radio-group>
              <br>
              <label>Trato del Médico:</label>
              <mat-radio-group formControlName="tratoMedico">
                <mat-radio-button value="excelente">Excelente</mat-radio-button>
                <mat-radio-button value="adecuado">Adecuado</mat-radio-button>
                <mat-radio-button value="inadecuado">Inadecuado</mat-radio-button>
              </mat-radio-group>
              <br><br>
              <label>Comentario:</label><br>
              <textarea formControlName="comentario"></textarea>
          
              <div class="button-group">
                <button type="submit" class="encuesta_boton">Enviar Encuesta</button>
                <button type="button" class="encuesta_boton" (click)="closeEncuesta()">Cancelar</button>
              </div>
            </form>
          </dialog>
    }
  </div>
}@else {
    <app-spinner></app-spinner>
}


