.component{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.lista-horarios{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.dias-disponibles{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.256);
    transition: 0.2s;
    padding: 15px 50px 15px 50px;
}

.dias-disponibles:hover{
    background-color: rgb(195, 195, 189);
}

.dias-disponibles:active{
    transform: scale(1.2);

}