.component{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B2545;
}

.seleccion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-login{
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 10px;
  background-color: #6998d5; 
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-login:hover{
  background-color: #5a86c4;
}

.opcion-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-sizing: border-box;
    height: 500px;
    width: 500px;
    gap: 20px;
}
.image-registro{
  border-radius: 50%;
  height: 450px;
  width: 450px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.371);
}
.image-registro:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.944);
}

/* .form-pacientes{
    display: none;
    flex-direction: column;
}*/ 


.back-option{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 30px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: aqua;
    border: 1px solid grey;
} 

:host{
    --azul:#134074;
    --azulOscuro:#0B2545;
    --azulGris:#8DA9C4;
    --blanco:#fff;
    --fuente:'Quicksand', sans-serif;
}

.component{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container-form{
  display: none;
  justify-content: center;
  align-items: center;
}
.contenedor{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
}

.imagen-formulario{
  background-image: url('https://i.pinimg.com/564x/a6/ed/7f/a6ed7f2af28c3d05681ccf0c22fdb838.jpg');
    background-position: center center;
    background-size: cover;
    height: 749px;
    flex: 0 0 calc(60%);
    position: relative;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imagen-formulario::before{
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: linear-gradient(to right,rgba(141, 169, 196, 0.2), rgba(19, 64, 116, 0.262) );
   
}

h2{
  color: white;
  margin: 0;
  padding: 0;
}


@media(min-width:1200px){
    .imagen-formulario{
        background-position: center;
    }
}

@media(min-width:768px){
    .contenedor-formulario{
        display: flex;
    }
}

.formulario{
  padding: 29px 40px;
  background-color: #134074;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.texto-formulario h2, .input label, .password-olvidada a, .texto-formulario p{
    color: var(--blanco);
}
.texto-formulario h2{
    font-size: 40px;
    text-align: center;
}
.input label{
    /* display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0; */
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input input{
    /* width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    outline: none; */
    width: 100%;
    padding: 6px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}
select{
  width: 100%;
  padding: 5px 0px;
  border-radius: 5px;
  outline: none;
}
.input button{
    background-color: var(--azulGris);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    transition: background-color .1s ease-in-out;
    width: 100%;
}
.input button:hover{
  
    cursor: pointer;
    background-color: var(--azulOscuro);
}



.button-registro{
  width: 100%;
  padding: 10px;
  background-color: #6998d5; 
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.button-registro:hover{
  background-color: #5a86c4;

} 





.container-form-especialista{
  display: none;
  align-items: center;
}

/* Contenedor principal del formulario */
.form-especialista {
  background-color: #10325d; /* color de fondo similar al login */
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título */
.form-especialista h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo de las etiquetas */
.form-especialista label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo de los campos de entrada */
.form-especialista input[type="text"],
.form-especialista input[type="number"],
.form-especialista mat-form-field {
  width: 100%;
  padding: 6px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo específico para el mat-form-field */
mat-form-field {
  width: 100%;
  margin: 0;
  padding: 0;
}


/* Estilo de la imagen de perfil */
#foto-perfil {
  margin-top: 5px;
  display: block;
}
#foto-portada {
  margin-top: 5px;
  display: block;
}

.foto-perfil{
  margin-bottom: 10px;
}


/* Espacio para la foto de perfil */
.perfil-img-container {
  height: 800px;
  width: 900px;
  overflow: hidden;
  margin: 0 auto 20px;
  border: 2px solid #ffffff;
}

.perfil-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}