<div class="component">
    <div class="seleccion" id="seleccion">
        <button class="btn-login" routerLink="/login">Inicio de sesion</button>
        <div class="opcion-registro" (click)="seleccionForm('paciente')">
            <h2>Registrarse como Paciente</h2>
            <img src="/paciente.jpg" alt="" class="image-registro">
        </div>
        <div class="opcion-registro" (click)="seleccionForm('medico')">
            <h2>Registrarse como Médico</h2>
            <img src="/image.jpeg" alt="" class="image-registro">
        </div>
    </div>

    <button class="btn-login" id="back-option" (click)="backSeleccion()">Volver</button>

    <div class="container-form contenedor" id="form-pacientes">
        <div class="imagen-formulario">
      
        </div>

        
        <div class="form">
            <form [formGroup]="formGroup" class="formulario">
                <div class="titulo">
                    <h2>Formulario pacientes</h2>
                </div>
                <div class="input">
                    <label for="nombre">Nombre
                        @if(formGroup.controls['nombre'].errors?.['required'] && formGroup.controls['nombre'].touched){
                            *
                         }
                    </label>
                    <input type="text" id="nombre" formControlName="nombre">
                </div>
                <div class="input">
                    <label for="apellido">Apellido
                        @if(formGroup.controls['apellido'].errors?.['required'] && formGroup.controls['apellido'].touched){
                            *
                         }
                    </label>
                    <input type="text" id="apellido" formControlName="apellido">
                </div>
                <div class="input">
                    <label for="edad">Edad
                        @if(formGroup.controls['edad'].errors?.['required'] && formGroup.controls['edad'].touched){
                            *
                         }
                    </label>
                    <input type="number" id="edad" formControlName="edad">
                </div>
                <div class="input">
                    <label for="DNI">DNI
                        @if(formGroup.controls['dni'].errors?.['required'] && formGroup.controls['dni'].touched){
                            *
                         }
                    </label>
                    <input type="text" id="DNI" formControlName="dni">
                </div>
                <div class="input">
                    <label for="obra-social">Obra Social
                        @if(formGroup.controls['obraSocial'].errors?.['required'] && formGroup.controls['obraSocial'].touched){
                            *
                         }
                    </label>
                    <select name="obra-social" id="obra-social" formControlName="obraSocial">
                        <option value="particular">Particular</option>
                        <option value="ioma">IOMA</option>
                        <option value="osde">OSDE</option>
                        <option value="pami">PAMI</option>
                        <option value="swiss-medical">SWISS MEDICAL</option>
                        <option value="galeno">GALENO</option>
                        <option value="otra">Otra</option>
                    </select>
                </div>
                <div class="input">
                    <label for="email">Email
                        @if(formGroup.controls['email'].errors?.['required'] && formGroup.controls['email'].touched){
                            *
                         }
                    </label>
                    <input type="text" id="email" formControlName="email">
                </div>
                <div class="input">
                    <label for="password">Contraseña (minimo 6 caracteres)
                        @if(formGroup.controls['password'].errors?.['required'] && formGroup.controls['password'].touched){
                            *
                         }
                    </label>
                    <input type="text" id="password" formControlName="password">
                </div>
                <div class="input">
                    <label for="repeatPassword">Repita su contraseña
                        @if(formGroup.controls['repeatPassword'].errors?.['required'] && formGroup.controls['repeatPassword'].touched){
                            *
                         }
                    </label>
                    <input type="text" id="repeatPassword" formControlName="repeatPassword">
                </div>
                <div class="file-select" id="src-file1">
                    <label for="repeatPassword" style="color: white;">Foto de perfil</label><br>
                    <input type="file" name="src-file1" aria-label="Archivo" id="foto-perfil" formControlName="imagenPerfil" (change)="ImagenPerfilCargada($event)">
                </div><br>
                <div class="file-select" id="src-file2">
                    <label for="repeatPassword" style="color: white;">Foto de portada</label><br>
                    <input type="file" name="src-file2" aria-label="Archivo" id="foto-banner" formControlName="imagenPortada" (change)="ImagenPortadaCargada($event)" style="margin-bottom: 10px;">
                </div>
                @if(showRecaptchaPacientes){
                    <div>
                        <ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
                        (reset)="handleReset()"
                        (expire)="handleExpire()"
                        (load)="handleLoad()"
                        (success)="handleSuccess($event)"
                        [useGlobalDomain]="false"
                        formControlName="recaptcha">
                      </ngx-recaptcha2>
                    </div>
                }
                <button class="button-registro" (click)="registroPaciente()">REGISTRARME</button>
            </form>
        </div>
        
    </div>


    <div class="container-form-especialista" id="container-especialista">
        <div class="perfil-img-container">
            <img src="/medicos.jpg" alt="imagen formulario especialistas">
        </div>
        <div class="form-especialista" id="form-especialista">

            <h2>Formulario especialistas</h2>
                <form [formGroup]="formGroupEspecialistas">
                    <div>
                        <label for="nombre">
                            Nombre
                            @if(formGroupEspecialistas.controls['nombre'].errors?.['required'] && formGroupEspecialistas.controls['nombre'].touched){
                               *
                            }
                        </label>
                        <input type="text" id="nombre" formControlName="nombre">
                    </div>
                    <div>
                        <label for="apellido">Apellido
                            @if(formGroupEspecialistas.controls['apellido'].errors?.['required'] && formGroupEspecialistas.controls['apellido'].touched){
                                *
                             }
                        </label>
                        <input type="text" id="apellido" formControlName="apellido">
                    </div>
                    <div>
                        <label for="edad">Edad
                            @if(formGroupEspecialistas.controls['edad'].errors?.['required'] && formGroupEspecialistas.controls['edad'].touched){
                                *
                             }
                        </label>
                        <input type="number" id="edad" formControlName="edad">
                    </div>
                    <div>
                        <label for="DNI">DNI
                            @if(formGroupEspecialistas.controls['dni'].errors?.['required'] && formGroupEspecialistas.controls['dni'].touched){
                                *
                             }
                        </label>
                        <input type="text" id="DNI" formControlName="dni">
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Especialidades
                            </mat-label>
                            <mat-select formControlName="especialidades" multiple>
                              @for (especialidad of especialidadesMedicas; track especialidad) {
                                <mat-option [value]="especialidad.toLowerCase()">{{especialidad}}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                        </div>
                    <div>
                        <label for="email">Email
                            @if(formGroupEspecialistas.controls['email'].errors?.['required'] && formGroupEspecialistas.controls['email'].touched){
                                *
                             }
                        </label>
                        <input type="text" id="email" formControlName="email">
                    </div>
                    <div>
                        <label for="password">Contraseña
                            @if(formGroupEspecialistas.controls['password'].errors?.['required'] && formGroupEspecialistas.controls['password'].touched){
                                *
                             }
                        </label>
                        <input type="text" id="password" formControlName="password">
                    </div>
                    <div>
                        <label for="repeatPassword">Repita su contraseña
                            @if(formGroupEspecialistas.controls['repeatPassword'].errors?.['required'] && formGroupEspecialistas.controls['repeatPassword'].touched){
                                *
                             }
                        </label>
                        <input type="text" id="repeatPassword" formControlName="repeatPassword">
                    </div>
                    <div>
                        <label for="foto-perfil">Foto de perfil
                            @if(formGroupEspecialistas.controls['imagenPerfil'].errors?.['required'] && formGroupEspecialistas.controls['imagenPerfil'].touched){
                                *
                             }
                        </label>
                        <input type="file" name="" class="foto-perfil" id="foto-perfil" formControlName="imagenPerfil" (change)="ImagenPerfilCargada($event)">
                    </div>
                    @if(showRecaptchaEspecialistas){
                        <div>
                            <ngx-recaptcha2 
                            [siteKey]="siteKey"
                            (reset)="handleReset2()"
                            (expire)="handleExpire2()"
                            (load)="handleLoad2()"
                            (success)="handleSuccess2($event)"
                            [useGlobalDomain]="false"
                            formControlName="recaptcha2">
                          </ngx-recaptcha2>
                        </div>
                    }
                                       
                    <button class="button-registro" (click)="registroEspecialista()">REGISTRARME</button>
                </form>
        </div>
    </div>


    
</div>



